@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* height: 100vh; */
  color: #1E1E1E;
  background: #fbfbfb;
  border-color: #1E1E1E;
}

.dark,
.dark body {
  color: #fbfbfb;
  border-color: #fbfbfb;
  background: #1E1E1E;
}

h2.animateTitle {
  color: #1E1E1E;
  background: linear-gradient(to left, #1E1E1E 0, #4ade80 0%, #1E1E1E 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark .animateTitle {
  color: #fbfbfb;
  background: linear-gradient(to left, #fbfbfb 0, #4ade80 0%, #fbfbfb 20%);
  /* padding: 0 1.5rem; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}